<?xml version="1.0" encoding="UTF-8"?>
<web-app >
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>etu1852.framework.servlet.FrontServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
</web-app>